body {
  padding: 0;
  margin: 0;
  background-color: #F8F8F8;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
* {
  box-sizing: border-box;
  word-break: break-all;
}
#selectrole {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
#app {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.route-div {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: auto;
}
/* 选择角色样式 */
#roles-div {
  font-size: 0px;
  line-height: normal;
  background-color: #FFFFFF;
  padding: 16px 16px 100px;
}
#roles-div .title {
  color: #5F5F5F;
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0px;  
}
#roles-div .card{
  position: relative;
  background-color: #F5F6FA;
  padding: 0px 24px;
  height:96px;
  margin: 0px 0px 10px;  
}
#roles-div .card .img{
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width:96px;
}
#roles-div .card .left{
  display: inline-block;
  vertical-align: middle;
  padding: 25px 0px 0px;
  width: calc(100% - 120px);
  margin-left: 10px;
  height: 96px;
}
#roles-div .card .left-text{
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

#roles-div .card .right{
  display: inline-block;
  vertical-align: middle;
  padding: 42px 0px 0px;
  width:10px;
  height: 96px;
}
/* 底部菜单样式 */
.menu-div {
  z-index: 2;
  display: flex;
  box-sizing: content-box;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 8px 0 11px;
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.02);
}
.menu-div .menu-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
}
.menu-div .menu-item.active {
  /* color:#1989fa; */
}
.menu-div .menu-item-icon {
  position: relative;
  margin-bottom: 5px;
  font-size: 22px;
  height:24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-div .menu-item-text {
  text-align: center;
}
.menu-div .menu-more{
    position: relative;
}
.menu-popover-relative{
  position: relative;
  height: 0;
  width: 100%;
}
.menu-popover-relative .menu-popover{
  position: absolute;
  overflow: visible;
  background-color: transparent;
  transition: opacity .15s,transform .15s,-webkit-transform .15s;
  bottom: 15px;
  right: 5px;
}
.menu-popover-relative .arrow{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  border-top-color: currentColor;
  border-bottom-width: 0;
  transform: translate(-50%,100%);
  left: 50%;
  bottom: 15px;
  color: #ffffff;
}
.menu-popover .content{
  overflow: auto;
  border-radius: 8px;
  background-color: #fff;
  min-width: 140px;
  max-height: 180px; 
}
.menu-popover .item{
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  /* color: #646566; */
}
.menu-popover .item.active{
  /* color:#1989fa; */
}
.menu-popover .item .icon{
  position: relative;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-popover .item .text{
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}

.menu-popover .item .text::after{
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #dddddd;
  transform: scale(0.5);
  border-bottom-width: 1px;
}
.menu-popover .item:last-child .text::after{
  display: none;
}
/* 审核页面 */
.xg-shlb-top-actions{
  padding:16px;   
}
.xg-shlb-top-action-item{
    margin-left:24px;
    display: flex;
    align-items: center; 
}
.xg-shlb-top-action-item .van-icon{
    margin-right: 4px;
}
.xg-shlb-top{
  background-color: #FFFFFF;
  margin-bottom:1px;
  height: 105px;
}
.xg-shlb-card-list{
    height: calc(100% - 106px);
    overflow: auto;
    padding: 12px 12px 64px;
}
.xg-shlb-top-1{
  background-color: #FFFFFF;
  margin-bottom:1px;
  height: 48px;
}
.xg-shlb-card-list-1{
  height: calc(100% - 49px);
  overflow: auto;
  padding: 12px 12px 64px;
}
.xg-shlb-top-3{
  background-color: #FFFFFF;
  margin-bottom:1px;
  height: 154px;
}
.xg-shlb-card-list-3{
  height: calc(100% - 155px);
  overflow: auto;
  padding: 12px 12px 64px;
}
.xg-shlb-batch-button{
    max-width: 80px !important;
    height: 36px !important;
    margin-left: 8px !important;
    flex: 1 !important;
}
.xg-detail-form-container{
    padding: 8px 12px 64px;
}
.xg-fixed-bottom-group{
    background-color: #FFFFFF;
    box-shadow: 0 -6px 10px rgb(0 0 0 / 2%);
    padding:8px 16px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.xg-fixed-bottom-item{
    flex: 1 !important;
    margin-left:8px !important;
}
.xg-fixed-bottom-item:first-child{
    flex: 1 !important;
    margin-left:0px !important;
}
/* 附件预览 */
.xg-preview-div{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 32px 16px 16px;
}
.xg-preview-div .xg-preview-cancel{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #969696;
  font-size: 18px;
}
.xg-preview-div .xg-preview-context{
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  display: inline-block;
}
.xg-preview-div .preview-error{
  padding-top: 30vh;
  text-align: center;
  height: 100%;
}
.xg-preview-div .preview-error .text{
  padding-top: 15px;
  color:#F00505;
  font-size: 20px;
}


#xg-preview-pdf-canvas {
  width: 100%;
  min-height: 100%;
}
#xg-preview-pdf-canvas .canvas{
  width: 100%;
}
#xg-preview-docx-div{
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
}
#xg-preview-docx-div.ready{
  display: block;
}
#xg-preview-docx-div section.xg-docx{
  background-color: #FFFFFF;
}

#xg-preview-excel-div{
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;
}
#xg-preview-excel-div .xg-preview-excel-data{
  background-color: #ffffff;
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
}
#xg-preview-excel-div .xg-preview-excel-table{
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
}
#xg-preview-excel-div .xg-preview-excel-table.ready{
  display: block;
}
#xg-preview-excel-div .xg-preview-excel-group{
  background-color: #f5f5f5;
  width: 100%;
  height: 30px;
  overflow-y: auto;
  position: absolute;
  bottom: 0px;
  text-align: left;
  white-space: nowrap;
  font-size: 0px;
}
#xg-preview-excel-div .xg-preview-excel-group::-webkit-scrollbar {
  display: none;/*隐藏滚轮*/ 
}
#xg-preview-excel-div .xg-preview-excel-group .button{
  /* zoom: 0.5; */
  background-color: #eeeeee;
  height: 30px;
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
  padding: 0px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
#xg-preview-excel-group .button.active{
  background-color: #ffffff;
  font-weight: bold;
}

#xg-preview-excel-div  table{
  background-color: #FFFFFF;
  border-spacing: 0px;
  padding: 10px;
}
#xg-preview-excel-div table tr {
  background-color: #FFFFFF;
  border-top: 1px solid #dadde1;
}
#xg-preview-excel-div table td, #xg-preview-excel-div table th {
  min-width: 50px;
  border: 1px solid #dadde1;
}
.pub-btn-actions {
    height: 64px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    background: #ffffff;
    box-sizing: border-box;
}
.pjpy-cell-title{
    overflow: hidden;
}
.vant-cell-padding-resize{
    padding:16px !important;
}
.xg-signature-div{
    position: relative;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
}
.xg-signature-div.min-height{
    height:78px;
}
.xg-signature-layer{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    opacity: 0.08;
}
.xg-signature-button{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.xg-signature-delete{
    position: absolute !important;
    z-index: 2;
    top:4px;
    right:4px;
    opacity: 1;
}
.xg-signature-img{
    width: 50%;
    border-radius: 4px;
}
.xg-signature-img.error{
    min-height: 78px;
}
.xg-p-4 {
    padding:4px!important;
}
.xg-p-8 {
    padding:8px!important;
}
.xg-p-12 {
    padding:12px!important;
}
.xg-p-16 {
    padding:16px!important;
}
.xg-p-20 {
    padding:20px!important;
}
.xg-p-24 {
    padding:24px!important;
}
.xg-m-4 {
    margin:4px!important;
}
.xg-m-8 {
    margin:8px!important;
}
.xg-m-12 {
    margin:12px!important;
}
.xg-m-16 {
    margin:16px!important;
}
.xg-m-20 {
    margin:20px!important;
}
.xg-m-24 {
    margin:24px!important;
}
.xg-mt-4 {
    margin-top:4px!important;
}
.xg-mt-8 {
    margin-top:8px!important;
}
.xg-mt-12 {
    margin-top:12px!important;
}
.xg-mt-16 {
    margin-top:16px!important;
}
.xg-mt-20 {
    margin-top:20px!important;
}
.xg-mt-24 {
    margin-top:24px!important;
}
.xg-ml-4 {
    margin-left:4px!important;
}
.xg-ml-8 {
    margin-left:8px!important;
}
.xg-ml-12 {
    margin-left:12px!important;
}
.xg-ml-16 {
    margin-left:16px!important;
}
.xg-ml-20 {
    margin-left:20px!important;
}
.xg-ml-24 {
    margin-left:24px!important;
}
.xg-mr-4 {
    margin-right:4px!important;
}
.xg-mr-8 {
    margin-right:8px!important;
}
.xg-mr-12 {
    margin-right:12px!important;
}
.xg-mr-16 {
    margin-right:16px!important;
}
.xg-mr-20 {
    margin-right:20px!important;
}
.xg-mr-24 {
    margin-right:24px!important;
}
.xg-mb-4 {
    margin-bottom:4px!important;
}
.xg-mb-8 {
    margin-bottom:8px !important;
}
.xg-mb-12 {
    margin-bottom:12px !important;
}
.xg-mb-16 {
    margin-bottom:16px!important;
}
.xg-mb-20 {
    margin-bottom:20px!important;
}
.xg-mb-24 {
    margin-bottom:24px!important;
}
.xg-mb-32 {
    margin-bottom:32px!important;
}
.xg-pt-4 {
    padding-top:4px!important;
}
.xg-pt-8 {
    padding-top:8px!important;
}
.xg-pt-12 {
    padding-top:12px!important;
}
.xg-pt-16 {
    padding-top:16px!important;
}
.xg-pt-20 {
    padding-top:20px!important;
}
.xg-pt-24 {
    padding-top:24px!important;
}
.xg-pl-4 {
    padding-left:4px!important;
}
.xg-pl-8 {
    padding-left:8px!important;
}
.xg-pl-12 {
    padding-left:12px!important;
}
.xg-pl-16 {
    padding-left:16px!important;
}
.xg-pl-20 {
    padding-left:20px!important;
}
.xg-pl-24 {
    padding-left:24px!important;
}
.xg-pr-4 {
    padding-right:4px!important;
}
.xg-pr-8 {
    padding-right:8px!important;
}
.xg-pr-12 {
    padding-right:12px!important;
}
.xg-pr-16 {
    padding-right:16px!important;
}
.xg-pr-20 {
    padding-right:20px!important;
}
.xg-pr-24 {
    padding-right:24px!important;
}
.xg-pb-4 {
    padding-bottom:4px!important;
}
.xg-pb-8 {
    padding-bottom:8px!important;
}
.xg-pb-12 {
    padding-bottom:12px!important;
}
.xg-pb-16 {
    padding-bottom:16px!important;
}
.xg-pb-20 {
    padding-bottom:20px!important;
}
.xg-pb-24 {
    padding-bottom:24px!important;
}