.qjsm-div{
    padding: 16px;
    background: #FFF7EB;
    font-size: 0px;
}
.qjsm-div .main{ 
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
.qjsm-div .text{
    float: right;
    margin-left: -60px;
    width: 100%;
    position: relative;
}
.qjsm-div .text-standard{
    float: right;
    width: 1px;
    height: 36px;
    position: relative;
}
.qjsm-div .text-cut {
    float: right;
    width: 60px;
    height: 18px;
    position: relative;
    left: 100%;
    transform: translate(-100%,-100%);
    background: linear-gradient(to right, rgba(255,247,235,1), rgba(250,247,235,1));
    padding: 0px 0px 0px 2px;
}
.xjsm-div{
    padding: 12px;
    background: #FFF7EB;
}
.qjform-right-button{
    line-height: 24px;
}
.xiaojia-dwxx-div{
   padding:4px 24px 64px;
   display: flex;
   justify-items: center;
   align-items: center;
}
.xiaojia-dwxx-img{
    width:16px;
    height: 16px;
    flex-shrink: 0;
}
.xiaojia-dwxx-middle{
    margin: 0px 8px;
    width:0px;
    flex: 1;
}
.xiaojia-dwxx-right{
    width:56px;
    height: 20px;
    flex-shrink: 0;
}